*{
    font-family: sans-serif;
    font-weight: 200;
    color: #333;
}
h1,h2,h3{
    border-bottom: solid 1px #f45;
    color: #F45;
}
h4{
    text-transform: uppercase;
    font-weight: 600;
}
div{
    margin: 10px auto;
    width: 100%;
}
.main-intro{
    width: 100%;
    background: pink;
}
.intro1{
    text-align: center;
    padding: 0;
    margin: 0 auto;
    color: aliceblue;
}
.wrapper .img1{
width: 50%;
}
.wrapper li{
    margin: 10px 0;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
a{
    color: #F45;
}
.courpage2 li{
    margin: 10px auto;
}
.inner1{
    background: rgba(241, 196, 15,.6);
    padding: 10px;
    border: 1px solid #345;
    margin: 10px auto;
}
.code1{
    background: #EEE;
    border: 1px solid #DDD;
    padding: 2px;
    font-family: monospace;
}
.note{
    background: #EEE;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}
.note1{
    background: rgba(250,0,0,.1);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 4px;
}
.note2{
    background: rgba(0,0,250,.1);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 4px;
}
.note3{
    background: rgba(243, 156, 18,.8);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 4px;
}
.bold1{
    font-weight: 500;
}
#bracket{
    background: #333;
    padding: 10px;
    width: 100%;
}
.txtblue{
    color: dodgerblue;
}
.txtorange{
    color: darkorange;
}
.hide{
    background: #333;
    color: #444;
}
#send1{
    background: #16a085;
    width: 400px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
/*-----------MySQL---------------*/

.content-mysql{
    width:100%;
    background:pink;
    padding:0;
}
.content-mysql h1{
    color:#fff;
    text-align:center;
    margin: 0 auto;
    font-size:3em;
    font-weight: bold;
    text-transform:uppercase;
}
.content-mysql h2{
    width:100%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    color: aliceblue;
}